

<div class="addpat"><a class="btn btn-danger " routerLink="/patientReg" >Add Patient</a>
</div>
<p>Patinets works</p>


<!-- <table>
<tr><th>Patient Id</th>
<th> Name</th>
<th>Gender</th>
<th>Contact</th>
<th>Doctor Id</th>
</tr>
@for (item of service.AllPatients; track $index)
 {
    <tr>
        <th>{{item.Pid}}</th>
        <th>{{item.Pname |uppercase}}</th>
        <th>{{item.gender}}</th>
        <th>{{item.contact}}</th>
        <th>{{item.doctorId}}</th>
        
    </tr>
}
</table>-->

<!-- <app-patient-register-form></app-patient-register-form>  -->
