/* You can add global styles to this file, and also import other style files */

/* {
    background-image: url('./assests/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
} */

*{
background-color: #B6CBBD;
font-family:'Times New Roman', Times, serif;
}